.page {
  position: relative;
  min-width: 1200px;
}
.mid {
  width: 1200px;
  margin: 0 auto;
}

.topbar {
  position: relative;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  z-index: 2;
}
.e-content {
  position: relative;
  height: 530px;
  margin: 10px auto;
  z-index: 1;
}
.bottom {
  height: 60px;
}

.map-wrapper {
  float: left;
  width: 918px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.map-wrapper .map {
  width: 918px;
  height: 100%;
}

.page .ant-btn-primary {
  /*background-color: #2fcae7;
  border-color: #2fcae7;*/
  border-radius: 0px;
}

.page .e-show {display: inline-block;}
.page .e-hide {display: none;}


.page .transform-handler--rotate {}
