.filter-item{
	text-align: center;
	padding: 15px 0px;
}
.filter-item > span{
	margin-right: 15px; 
}
.editHistory{
	color: #108ee9;
	cursor: pointer;
}
.table-content{
	padding-top: 64px;
	height: 100%;
}
.ant-table table{
	text-align: center;
}
.ant-checkbox-wrapper + span, .ant-checkbox + span{
	padding-left: 0px;
	padding-right: 0px;
}
.ant-checkbox-wrapper:not(:last-child){
	margin-right: 15px; 
}
.ant-table-thead > tr > th{
	text-align: center;
}
.ant-table-pagination{
	margin-right: 10px;
}
