.filter-item{
	text-align: center;
	padding: 15px 0px;
}
.filter-item > span{
	margin-right: 15px; 
}
.editHistory{
	color: #108ee9;
	cursor: pointer;
}
.table-content{
	padding-top: 64px;
	height: 100%;
}
.ant-table table{
	text-align: center;
}
.ant-checkbox-wrapper + span, .ant-checkbox + span{
	padding-left: 0px;
	padding-right: 0px;
}
.ant-checkbox-wrapper:not(:last-child){
	margin-right: 15px; 
}
.ant-table-thead > tr > th{
	text-align: center;
}
.ant-table-pagination{
	margin-right: 10px;
}
.issue-btn{
	margin-left: 20px;
}
.ant-table-thead > tr > th:nth-child(4) span{
	display:block;
	cursor: pointer;
	border-radius: 5px;
	background-color: pink;
	
}
.ant-table-thead > tr > th:nth-child(5) span{
	display:block;
	cursor: pointer;
	border-radius: 5px;
	background-color: pink;
	
}

.hidd{
	display: none;
}
