.page-headuser {
	float: right;
	margin: 14px 0 14px 10px;
}
 /*.page-headuser .username{
	display: inline-block;
}*/
.page-headuser .quit-btn{
	margin-left:15px;
}
/*.page-headuser .quit-btn>span{
	font-size: 1.3em;
}*/
