.detail-wrapper {
  float: right;
  width: 200px;
  height: 600px;
  border: 1px solid #e5e5e5;
  text-align: center
}
.detail-wrapper .title {
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}
.detail-wrapper .line {
  margin-top: 10px;
}